$bgColor = #1F2025
// -------表头---------
.table-head
  display flex
  width 100%
  height 70px
  line-height 70px
  font-size 13px
  background-color #26292E
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 7px 7px 0px 0px;
  text-align center
  .head-item
    color #fff
    flex 1
  .head-item-first,
  .head-item-num
    color #fff
    width 140px

// ------表体---------
.table-body--item
  width 100%
  background $bgColor
  height 70px
  line-height 70px
  font-size 12px
  text-align center
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  .body-item
    flex 1
  .body-item-first
    width 140px
  .body-item-num
    width 140px

.total-wrap {
  display flex
}
.title {
  height: 77px;
  line-height: 77px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left 33px
}
.table-wrap {
  flex 1
  background: #1F2025;
  border-radius: 14px;
  border: 1px solid #2B3038;
  position relative
  overflow: hidden;
}
.position-right {
  position: absolute;
  right: 25px;
  top: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #67A6FB;
}
.rank0 {
  color: #F93C3C;
}
.rank1 {
  color: #FF8C49;
}
.rank2 {
  color: #46DBFF;
}
.img-style {
  vertical-align: middle;
}
.flex-gap-div {
  width: 18px
}