$bgColor = #1F2025
/deep/ .table_header {
  background-color: #26292e !important
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  border none !important
  height 70px
  text-align:center
}

/deep/ .cell-class {
  background-color: $bgColor !important
  border none !important
  height 70px
  color #fff
  font-size: 18px;
  font-weight: 600;
  text-align: center
  border none
}

/deep/ .el-table thead{
  border-radius: 7px 7px 0px 0px;
  border none !important
  border: 1px solid $bgColor;
}
// /deep/ .el-table td.el-table__cell, /deep/ .el-table th.el-table__cell.is-leaf {
//   border none !important
// }

/deep/ .el-table--border th, td {
  border: 1px solid $bgColor !important;
}

/deep/ .el-table__row td {
  border: 1px solid $bgColor !important;
}

/deep/ .el-table::before {
  height: 0;
}

/deep/ .el-table, /deep/ .el-table__expanded-cell {
  background-color: $bgColor;
}