@font-face {  
  font-family: 'PingFang';  //重命名字体名
  src: url('./PingFang.ttf');  //引入字体
  font-weight: normal;  
  font-style: normal;  
}

#app {
  font-family: PingFang, Hiragino Sans GB, Microsoft YaHei,
    '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
  height: 100%;
}